{% extends "content.html" %}

{% block content %}
<h1>New Post</h1>
<form method="post" action="{{url_for('.new_post')}}">
    <div class="input">
        <label for="judul">Judul Post:</label>
        <input type="text" name="judul" placeholder="Judul Post">
    </div>
    <div class="input">
        <label for="isi">Isi Post:</label>
        <textarea name="isi" cols="100" rows="25" placeholder="Isi Post"></textarea>
    </div>
    <div class="input">
        <input type="submit" value="Simpan">
    </div>
</form>
{% endblock %}
